In [9]:
import streamlit as st
import pandas as pd
import plotly.express as px
import json

In [10]:
df = pd.read_csv("forecast_results.csv")
df.head()

         date   state_name  predicted_rainfall
0  2024-04-01  Uttarakhand           41.871567
1  2024-05-01  Uttarakhand           70.338210
2  2024-06-01  Uttarakhand          164.263800
3  2024-07-01  Uttarakhand          411.766600
4  2024-08-01  Uttarakhand          546.646400

In [11]:
csv_states = df['state_name'].unique()

In [12]:
with open("india_states.geojson", "r") as f:
        india_states = json.load(f)

In [13]:
state_names = [feature['properties']['st_nm'] for feature in india_states['features']]

In [14]:
unique_states = list(set(state_names))

In [18]:
print(csv_states)
print(unique_states)

['Uttarakhand' 'Assam' 'Tripura' 'Telangana' 'Himachal Pradesh'
 'Jammu And Kashmir' 'Maharashtra' 'Punjab' 'Andhra Pradesh'
 'Arunachal Pradesh' 'Uttar Pradesh' 'Haryana' 'Madhya Pradesh' 'Manipur'
 'Karnataka' 'Chandigarh' 'West Bengal' 'Rajasthan' 'Chhattisgarh'
 'Nagaland' 'Bihar' 'Puducherry' 'Gujarat' 'Odisha' 'Tamil Nadu' 'Kerala'
 'Sikkim' 'Delhi' 'Mizoram' 'Jharkhand' 'Meghalaya' 'Goa'
 'The Dadra And Nagar Haveli And Daman And Diu']
['Karnataka', 'Odisha', 'Uttarakhand', 'Rajasthan', 'Bihar', 'Assam', 'Himachal Pradesh', 'Mizoram', 'Madhya Pradesh', 'Jharkhand', 'Daman and Diu', 'Gujarat', 'West Bengal', 'Ladakh', 'Sikkim', 'Goa', 'Meghalaya', 'Lakshadweep', 'Arunachal Pradesh', 'Puducherry', 'Dadra and Nagar Haveli', 'Telangana', 'Tamil Nadu', 'Andhra Pradesh', 'Chhattisgarh', 'Delhi', 'Jammu and Kashmir', 'Punjab', 'Kerala', 'Manipur', 'Chandigarh', 'Andaman and Nicobar Islands', 'Tripura', 'Haryana', 'Nagaland', 'Uttar Pradesh', 'Maharashtra']

In [19]:
# by analysing this we can see that we need a bit cleaning in csv states
# 'Andaman and Nicobar Islands' and 'Lakshadweep','Ladakh' has no rainfall values in csv
# need to replace 'Jammu And Kashmir' with 'Jammu and Kashmir'

In [21]:
# Standardize state names to mach with the state names in geojson file
df["state_name"] = df["state_name"].replace({"Jammu And Kashmir": "Jammu and Kashmir"})

# Split merged UT into two separate rows
merged_ut = "The Dadra And Nagar Haveli And Daman And Diu"
ut_rows = df[df["state_name"] == merged_ut]
ut_rows_dadra = ut_rows.copy(); ut_rows_dadra["state_name"] = "Dadra and Nagar Haveli"
ut_rows_daman = ut_rows.copy(); ut_rows_daman["state_name"] = "Daman and Diu"
df = df[df["state_name"] != merged_ut]
df = pd.concat([df, ut_rows_dadra, ut_rows_daman], ignore_index=True)